<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="P3.Properties.Settings.Test_Final_Programacion_3"
            connectionString="Data Source=DESKTOP-I7MU1LS;Initial Catalog=Test_Final_Programacion_3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="server" value="DESKTOP-I7MU1LS"/>
    <add key="user_db" value="saf"/>
    <add key="base_db" value="Test_Final_Programacion_3"/>
    <add key="password_db" value="qwe123"/>
  </appSettings>
</configuration>